/* 
background-color : Sets the background color of an element 

The opacity property specifies the opacity/transparency of an element. 
It can take a value from 0.0 - 1.0. The lower value, the more transparent.

background-image : property specifies an image to use as the background of an element.

background-position : property is used to specify the position of the background image.

background-attachment : property specifies whether the background image 
should scroll or be fixed (will not scroll with the rest of the page).

CSS background - Shorthand property:
When using the shorthand property the order of the property values is:
background-color
background-image
background-repeat
background-attachment
background-position
example :
body {
  background: red url("img_tree.png") no-repeat left top;
}
*/

h1{
    text-align: center;
    background-color: brown;
}

#a{
    opacity: 0.2;
}

#b{
    opacity: 0.4;
}

#c{
    opacity: 0.6;
}

#d{
    opacity: 0.8;
}

#e{
    opacity: 1;
}

#x1{
    background-image: url(download.jpg);
    color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}


#x2{
    background-image: url("football.jpg");
    color: rgb(0, 0, 0);
    background-position: left;
    background-repeat: no-repeat;
    text-align: right;
}
#abc{
    text-align: center;
}