/* 
position - property specifies the type of positioning method used for an element (static, relative, fixed, absolute or sticky).
There are five different position values:
static
relative
fixed
absolute
sticky - positioned based on the user's scroll.

position: static;
HTML elements are positioned static by default.
Top , right , bottom , left and z-index properties have no effect.

position: relative;
An element with position: relative; is positioned relative to its normal position.

position: fixed;
An element with position: fixed; is positioned relative to the viewport, which means it always stays in the same place even if the page is scrolled.

position: absolute;
An element with position: absolute; is positioned relative to the nearest positioned ancestor
(instead of positioned relative to the viewport, like fixed).
Absolute positioned elements are removed from the normal flow, and can overlap elements.


*/

div{
    border: 2px solid black;
    display: inline-block;
    height: 100px;
    width: 100px;
}

#a1{
    position: static;
    top: 180px;
}

#a2{
    position:relative ;
}

#a3{
    position: absolute;
    left: 200px;
}

#a4{
    position: fixed;
    /* right: 30px; */
    top: 120px;
    width: 100%;
}

#a5{
    position: sticky;
    top: 0px;
}